---
import { getCustomer } from '@helpers/properties-management/server-properties';
import UserMenu from '../atoms/UserMenu';
import UserAddressCreateModify from '../utils/UserAddressCreateModify';

const customer = getCustomer(Astro);

const addressId = Astro.url.searchParams.get('address')! || '';
let address = undefined;
let setRedirect = true;
if (addressId) {
    address = customer.addresses.find((a: any) => a.id === addressId);
}
---

<div class="row mt-5 mb-5">
    <div class="flex w-full flex-row flex-wrap">
        <div class="w-[20%] pb-20">
            <h2 class="mb-5 border-b pb-2 font-bold">
                Hallo,
                {customer?.firstName}
                {customer?.lastName}
            </h2>
            <UserMenu client:only="preact" />
        </div>
        <div class="w-[80%] pl-20">
            <UserAddressCreateModify
                client:only="preact"
                redirect={setRedirect}
                setFunction={undefined}
                address={address}
            />
        </div>
    </div>
</div>
