---
import KRexLayout from '@kreatif/starter/components/layout/KRexLayout.astro';
import '@styles/fonts.scss';
import '@styles/spacing.scss';
import '@styles/base.scss';
import type { Article, Clang, Metadata, NavigationItem } from 'redaxo-adapter';
import ModuleList from '@layout/ModuleList.astro';
import Favicons from '@layout/head/Favicons.astro';
import { baseUrl } from '@config/url';
import Header from '@layout/header/Header.astro';
import Footer from '../components/layout/Footer.astro';
interface Props {
    metadata: Metadata;
    clang: Clang;
    clangs: Clang[];
    navigation: NavigationItem[];
    siteStartArticle: Article;
    footerArticle: Article;
    path: string;
    article?: Article;
}
const {
    clangs,
    siteStartArticle,
    navigation,
    footerArticle,
    metadata,
    clang,
    path,
    article,
} = Astro.props;
---

<KRexLayout
    bodyClass="overflow-x-hidden pt-16 xl:pt-24"
    metadata={metadata}
    path={path}
    clang={clang}
    clangs={clangs}
    navigation={navigation}
    baseUrl={baseUrl}
    siteStartArticle={siteStartArticle}
>
    <Fragment slot="head">
        <Favicons />
        <link rel="stylesheet" href="/fonts/iconFont/iconFont.scss" />
    </Fragment>
    <Header
        navigation={navigation}
        clangs={clangs}
        siteStartArticle={siteStartArticle}
        article={article}
    />
    <main>
        <slot />
        {footerArticle && <ModuleList article={footerArticle} footerModules />}
    </main>
    <Footer
        clangs={clangs}
        siteStartArticle={siteStartArticle}
        article={article}
    />
</KRexLayout>
