---
import Header from '@layout/header/Header.astro';
import '@styles/fonts.scss';
import '@styles/spacing.scss';
import '@styles/base.scss';
import '../../public/fonts/iconFont/iconFont.scss';
import type { Article, Clang, Metadata, NavigationItem } from 'redaxo-adapter';
import Footer from '@layout/Footer.astro';
import ModuleList from '@layout/ModuleList.astro';
import Favicons from '@layout/head/Favicons.astro';
import Iubenda from '@utils/iubenda/Iubenda.astro';
import StructuredData from '@layout/head/StructuredData.astro';
import Tracking from '@layout/head/Tracking.astro';
import HrefLangs from '@layout/head/HrefLangs.astro';
import SEO from '@layout/head/SEO.astro';
import ViewTransitions from 'astro/components/ViewTransitions.astro';
import Recaptcha from '@utils/form/Recaptcha.astro';
interface Props {
    metadata: Metadata;
    currentClang: Clang;
    clangs: Clang[];
    navigation: NavigationItem[];
    siteStartArticle: Article;
    footerArticle: Article;
    path: string;
    article?: Article;
}
const {
    clangs,
    siteStartArticle,
    navigation,
    footerArticle,
    metadata,
    currentClang,
    path,
    article,
} = Astro.props;
---

<html lang={currentClang.code.toLowerCase()}>
    <head>
        <SEO metadata={metadata} path={path} />
        <meta name="generator" content={Astro.generator} />
        <HrefLangs clangs={clangs} />
        <Favicons />
        <Iubenda clangs={clangs} />
        <StructuredData
            metadata={metadata}
            siteStartArticle={siteStartArticle}
        />
        <Tracking />
        <ViewTransitions />
        <Recaptcha />
    </head>
    <body class="overflow-x-hidden pt-16 xl:pt-24">
        <Header
            clangs={clangs}
            siteStartArticle={siteStartArticle}
            navigation={navigation}
            clang={currentClang}
        />
        <main>
            <slot />
            {
                footerArticle && (
                    <ModuleList article={footerArticle} footerModules />
                )
            }
        </main>
        <Footer siteStartArticle={siteStartArticle} articleId={article?.id} />
        <script type="text/javascript" defer>
            document.addEventListener('astro:beforeload', () => {
                if (
                    typeof _iub.cs !== 'undefined' &&
                    typeof _iub.cs.api !== 'undefined'
                ) {
                    _iub.cs.api.activateSnippets();
                }
            });
        </script>
    </body>
</html>
