---
import type {
    Article,
    Clang,
    Metadata,
    NavigationItem,
} from '@adapters/redaxo/@types';
import HrefLangs from '@layout/head/HrefLangs.astro';
import Favicons from '@layout/head/Favicons.astro';
import Footer from '@layout/Footer.astro';
import Header from '@layout/header/Header.astro';
import ShopwareInit from '@atoms/ShopwareInit.astro';
import OffcanvasCart from '@components/shopware/utils/OffcanvasCart';
interface Props {
    metadata: Metadata;
    currentClang: Clang;
    clangs: Clang[];
    navigation: NavigationItem[];
    siteStartArticle: Article;
    footerArticle: Article;
    path: string;
    article?: Article;
}
const {
    clangs,
    siteStartArticle,
    navigation,
    footerArticle,
    metadata,
    currentClang,
    path,
    article,
} = Astro.props;
---

<!--html lang={currentClang.code.toLowerCase()}-->
<html>
    <head>
        <ShopwareInit />
        <meta charset="utf-8" />
        <HrefLangs clangs={clangs} />
        <Favicons />
        <!--Iubenda clangs={clangs} /-->
        <!--StructuredData
            metadata={metadata}
            siteStartArticle={siteStartArticle}
        /-->
        <!--SEO metadata={metadata} path={path} /-->
        <meta name="generator" content={Astro.generator} />
        <!--Tracking /-->
        <!--Partytown /-->
    </head>
    <body class="overflow-x-hidden pt-16 xl:pt-24">
        <Header
            clangs={clangs}
            siteStartArticle={siteStartArticle}
            navigation={navigation}
        />
        <main class="pt-20 md:pt-20 xl:pt-[200px]">
            <div
                class="z-1 relative mx-auto flex w-full max-w-[1680px] flex-col px-4"
            >
                <div class="row">
                    <slot />
                </div>
            </div>
        </main>
        <Footer siteStartArticle={siteStartArticle} articleId={article?.id} />
        <!--Properties /-->

        <OffcanvasCart client:only="preact" />
    </body>
</html>
